* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f9f9f9;
  color: #333;
}


.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #e9dbdb, #dab5a4);
}

.about-container {
  background: #ffffff;
  max-width: 900px;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  animation: fadeUp 1s ease-in-out;
}

.about-container h1 {
  font-size: 40px;
  text-align: center;
  color: #490c0c;
  margin-bottom: 10px;
}

.tagline {
  text-align: center;
  font-size: 16px;
  color: #777;
  margin-bottom: 30px;
}

.about-container p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: center;
}

.about-container span {
  color: #461b09;
  font-weight: 600;
}


.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

.categories div {
  background: #471610;
  color: #fff;
  padding: 12px;
  text-align: center;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.categories div:hover {
  background: #52120d;
  transform: translateY(-3px);
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 600px) {
  .about-container {
    padding: 30px 20px;
  }

  .about-container h1 {
    font-size: 30px;
  }
}
