.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; 
  background-color: #f7f9fc;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dashboard p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.dashboard button {
  background-color: #501a1a;
  color: #fff;
  font-size: 1rem;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard button:hover {
  background-color: #752121;
}
